<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Tech demo</title>
    </head>

    <body>
        {% if error %}
            <h1>Error</h1>
            <p>{{ error }}</p>
        {% else %}
            <h1>Tech demo</h1>
            <p>{{ data.status }} - {{ data.msg }}</p>
        {% endif %}
    </body>

</html>